@import "../../pages/StatsScreen/StatsScreen";
@import "../../pages/BodyPage/BodyPage";

.FloatContainer {
  height: 100%;
  width: 80%;
  background: $bgColorBlocks;
  position: relative;
}

.FloatContainer_block {
  position: absolute;
  transition: top .2s, right .2s, bottom .2s, left .2s;
  cursor: pointer;

  @extend %FloatContainerStyle;
}

.FloatContainer_block:hover {
  border: 2px $blackColor solid;
  color: $blackColor;
}

.FloatContainer_block:hover .FloatContainer_block__title {
  border-bottom: 2px $blackColor solid;
}

.FloatContainer_block__title {
  width: 95%;
  height: 20%;
  font-size: 1vw;
}

.FloatContainer_block__desc {

  font-size: .9vw;
}

.StatsContainer__wide {


  .FloatContainer_block__title {
    font-size: getTrueVH(2.3);
  }

  .FloatContainer_block__desc {
    font-size: getTrueVH(1.7);
  }

}