@import "../BodyPage/BodyPage";

$leftDarkPartBgColor: black;
$rightBrightPartBgColor: pink;

$superColor: linear-gradient(to right, $leftDarkPartBgColor 50%, $rightBrightPartBgColor 50%);
$superColorEye: linear-gradient(to right top, $rightBrightPartBgColor 50%, $leftDarkPartBgColor 50%);
$superColorEyeReverse: linear-gradient(to right top, $leftDarkPartBgColor 50%, $rightBrightPartBgColor 50%);
$superColorReverse: linear-gradient(to right, $rightBrightPartBgColor 50%, $leftDarkPartBgColor 50%);

$titleMarginBottom: getTrueVH(10);

$eyeWidth: 45vw;
$eyeBorderWidth: getTrueVH(.4);
$eyeMarginTop: getTrueVH(5);
$titleFontSize: 4vw;
$titleRotate: -6deg;
$titleMarginBetweenText: getTrueVH(5);
$titleWidth: 100%;

$eyeBorderWidthPC: getTrueVH(.2);
$eyeWidthPC: getTrueVH(35);
$eyeMarginTopPC: getTrueVH(5);
$titleFontSizePC: getTrueVH(3);
$titleMarginBetweenTextPC: getTrueVH(10);
$titleMarginBottomPC: getTrueVH(0);
$titleWidthPC: getTrueVH(100);

$animationBlurStart: 2s;

.start_screen {
  display: flex;
  flex-direction: column;
  background: $superColor;
  height: getTrueVH(100);
  align-items: center;
  position: relative;
}

.bg-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: getTrueVH(100);
  z-index: 5;
  background: black;

  opacity: 1;

  animation: $animationBlurStart ease-out anim_bg-blur__hide;
  animation-fill-mode: forwards;
}

@keyframes anim_bg-blur__hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.title_container {
  display: flex;
  flex-direction: row;
  font-family: Undertale, serif;
  font-size: $titleFontSize;

  width: $titleWidth;

  flex-grow: 1;
  align-items: flex-end;
}

.title_container__column {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50vw;

  align-items: center;
  margin-bottom: $titleMarginBottom;
}

.title_text {
  position: relative;
}

.title_text.first {

  background: $leftDarkPartBgColor;
  color: $rightBrightPartBgColor;

  padding-left: .5vw;
}

.title_text.second {

  background: $rightBrightPartBgColor;
  color: $leftDarkPartBgColor;

  margin-top: $titleMarginBetweenText;
  padding: 1vw;

  transform: rotate($titleRotate);
}

.title_text.third {

  background: $leftDarkPartBgColor;
  color: $rightBrightPartBgColor;

  padding: 1vw;

  transform: rotate($titleRotate);
}

.title_text.fourth {
  background: $rightBrightPartBgColor;

  margin-top: $titleMarginBetweenText;
  padding-left: .5vw;
}

%bgCloser {

  position: absolute;

  top: 0;
  height: 100%;
  background: inherit;
  width: 100%;

  animation: .75s ease-out anim_bg_closer__close;
  animation-fill-mode: forwards;
}

.bg_closer__left {

  @extend %bgCloser;
  left: 0;
}

.bg_closer__right {

  @extend %bgCloser;
  right: 0;
}

.first .bg_closer__right, .first .bg_closer__left {
  animation-delay: $animationBlurStart - 0.5s;
}
.second .bg_closer__right, .second .bg_closer__left {
  animation-delay: $animationBlurStart + 0.25s;
}
.third .bg_closer__right, .third .bg_closer__left {
  animation-delay: $animationBlurStart + 1s;
}
.fourth .bg_closer__right, .fourth .bg_closer__left {
  animation-delay: $animationBlurStart + 1.75s;
}

@keyframes anim_bg_closer__close {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@media all and (orientation: landscape) {

  .title_container {
    font-size: $titleFontSizePC;
    margin-bottom: $titleMarginBottomPC;
    width: $titleWidthPC;
  }
}