
$leftDarkPartBgColor: black;
$rightBrightPartBgColor: pink;

$superColor: linear-gradient(to right, $leftDarkPartBgColor 50%, $rightBrightPartBgColor 50%);
$superColorEye: linear-gradient(to right top, $rightBrightPartBgColor 50%, $leftDarkPartBgColor 50%);
$superColorEyeReverse: linear-gradient(to right top, $leftDarkPartBgColor 50%, $rightBrightPartBgColor 50%);
$superColorReverse: linear-gradient(to right, $rightBrightPartBgColor 50%, $leftDarkPartBgColor 50%);

$titleMarginTop: 40vh;

$eyeWidth: 60vw;
$eyeBorderWidth: 5vw;
$eyeMarginTop: 5vh;
$titleFontSize: 4vw;
$titleRotate: -6deg;
$titleMarginBetweenText: 5vh;
$titleWidth: 100%;

$eyeWidthPC: 35vh;
$eyeBorderWidthPC: 3vh;
$eyeMarginTopPC: 5vh;
$titleFontSizePC: 3vh;
$titleMarginBetweenTextPC: 10vh;
$titleMarginTopPC: 25vh;
$titleWidthPC: 100vh;


.StartScreen {
  display: flex;
  flex-direction: column;
  background: $superColor;
  height: 100vh;
  align-items: center;
  position: relative;

  .eye {
    width: $eyeWidth;
    height: $eyeWidth;
    border-radius: 70% 0 / 70%;
    transform: rotate(45deg);
    background: $superColorEye;
    margin-top: $eyeMarginTop;
    display: flex;
    position: relative;
    z-index: 2;


    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: $eyeBorderWidth;
      border-radius: inherit;
      background: $superColorEyeReverse;
    }
  }

  .eye_entity {
    position: absolute;
    width: $eyeWidth * 1.45;
    height: $eyeWidth;
    margin-top: $eyeMarginTop;
    display: flex;
    z-index: 3;
  }

  .eye_entity__container {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  @mixin eyeEntry($bgColor) {
    border-radius: 100%;

    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bgColor;

    transition: left 1s, top 1s, right 1s;

    width: calc($eyeWidth / 4);
    height: calc($eyeWidth / 4);
    left: calc($eyeWidth * 1.45 / 2) - calc($eyeWidth / 10);

    @media all and (orientation: landscape) {
      width: calc($eyeWidthPC / 4);
      height: calc($eyeWidthPC / 4);
    }
  }

  @mixin eyeEntryDiv($bgColor) {
    position: relative;
    background: $leftDarkPartBgColor;
    border-radius: 100%;
    background: $bgColor;
    width: calc($eyeWidth / 8);
    height: calc($eyeWidth / 8);

    @media all and (orientation: landscape) {
      width: calc($eyeWidthPC / 8);
      height: calc($eyeWidthPC / 8);
    }
  }

  .eye_entry {
    @include eyeEntry($rightBrightPartBgColor);
  }

  .eye_entry_r {
    @include eyeEntry($leftDarkPartBgColor);
    left: auto;
  }

  .eye_entry div {
    @include eyeEntryDiv($leftDarkPartBgColor);
  }

  .eye_entry_r div {
    @include eyeEntryDiv($rightBrightPartBgColor);
  }

  .titleContainer {
    display: flex;
    flex-direction: row;
    font-family: Undertale, serif;
    font-size: $titleFontSize;

    margin-top: $titleMarginTop;
    width: $titleWidth;
  }

  .titleContainer__column {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50vw;

    align-items: center;
  }

  .titleText {
    position: relative;
  }

  .titleText.first {

    background: $leftDarkPartBgColor;
    color: $rightBrightPartBgColor;

    padding-left: .5vw;
  }

  .titleText.second {

    background: $rightBrightPartBgColor;
    color: $leftDarkPartBgColor;

    margin-top: $titleMarginBetweenText;
    padding: 1vw;

    transform: rotate($titleRotate);
  }

  .titleText.third {

    background: $leftDarkPartBgColor;
    color: $rightBrightPartBgColor;

    padding: 1vw;

    transform: rotate($titleRotate);
  }

  .titleText.fourth {
    background: $rightBrightPartBgColor;

    margin-top: $titleMarginBetweenText;
    padding-left: .5vw;
  }

  %bgCloser {

    position: absolute;

    top: 0;
    height: 100%;
    background: inherit;
    width: 100%;

    animation: .75s ease-out bgCloserAnimClose;
    animation-fill-mode: forwards;
  }

  .bg_closer__left {

    @extend %bgCloser;
    left: 0;
  }

  .bg_closer__right {

    @extend %bgCloser;
    right: 0;
  }

  .first .bg_closer__right, .first .bg_closer__left {
    animation-delay: 0s;
  }
  .second .bg_closer__right, .second .bg_closer__left {
    animation-delay: 1.5s;
  }
  .third .bg_closer__right, .third .bg_closer__left {
    animation-delay: .75s;
  }
  .fourth .bg_closer__right, .fourth .bg_closer__left {
    animation-delay: 2.25s;
  }

  @keyframes bgCloserAnimClose {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }

  @media all and (orientation: landscape) {

    .eye {
      width: $eyeWidthPC;
      height: $eyeWidthPC;

      &:before {
        margin: $eyeBorderWidthPC;
      }
    }

    .eye_entity {
      position: absolute;
      width: $eyeWidthPC * 1.45;
      height: $eyeWidthPC;
      margin-top: $eyeMarginTopPC;
      display: flex;
      z-index: 3;
    }

    .titleContainer {
      display: flex;
      flex-direction: row;
      font-family: Undertale, serif;
      font-size: $titleFontSizePC;

      margin-top: $titleMarginTopPC;
      width: $titleWidthPC;
    }
  }
}