body::-webkit-scrollbar {
  width: 0;
}

.body_page {
  overflow: hidden;
  position: absolute;
  top: -0%;
  touch-action: none;

  transition: top 1s;

  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.body_page__mobile {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
}

@function getTrueVH($size) {
  @return calc(var(--vh, 1vh) * $size);
}