@import "../BodyPage/BodyPage";

$mainThemeColor: white;
$bgColor: #FFD700;

$marginLeftRight: 5vw;
$movingTitleFontSizePC: getTrueVH(8.9);
$movingTitleFontSize: 13vw;
$movingTitleMarginTopPC: getTrueVH(2);
$movingTitleMarginTop: getTrueVH(2);
$textFontSizePC: getTrueVH(2.65);
$textFontSize: getTrueVH(1.85);
$textMarginTopPC: getTrueVH(2);
$textMarginTop: getTrueVH(1);

$bottomRowHeightPC: calc(getTrueVH(50) + 5vw);
$bottomRowHeight: getTrueVH(50);
$rowMarginBottom: getTrueVH(2);

$iconCircleSizePC: getTrueVH(50);
$iconCircleSize: 80vw;

.second_screen {
  background: $bgColor;
  height: getTrueVH(100);
  width: 100vw;
  color: $mainThemeColor;
  display: flex;
  flex-direction: column;
  font-family: KTFJermilovSolid;
  justify-content: space-between;
  position: relative;
  overflow: hidden;

  .top_space {
    width: 100vw;
    height: $movingTitleMarginTop;
  }

  .skill_list__container {
    display: flex;
    height: $bottomRowHeightPC;
    margin-bottom: $rowMarginBottom;
    z-index: 2;
  }

  @keyframes anim_logo_list__spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes anim_logo_item__spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  .logo_container__body {
    position: absolute;
    right: $marginLeftRight;
    bottom: calc($iconCircleSizePC / 10);
    z-index: 1;
  }

  .logo_container {
    width: $iconCircleSizePC;
    height: $iconCircleSizePC;
    position: relative;

    animation: anim_logo_list__spin linear 7.5s infinite;
  }

  .logo_container img {
    width: calc($iconCircleSizePC / 6);
    height: calc($iconCircleSizePC / 6);
    position: absolute;

    animation: anim_logo_item__spin linear 7.5s infinite;
  }

  @mixin coordinates($x, $y) {
    bottom: $y;
    left: $x;
  }

  .csharp_logo {
    @include coordinates(40%, 13%);
  }

  .sass_logo {
    width: calc($iconCircleSizePC / 3)!important;
    @include coordinates(55%, 25%);
  }

  .css_logo {
    @include coordinates(74%, 50%);
  }

  .react_logo {
    width: calc($iconCircleSizePC / 5)!important;
    @include coordinates(54%, 70%);
  }

  .html_logo {
    @include coordinates(26%, 70%);
  }

  .js_logo {
    width: calc($iconCircleSizePC / 6.5)!important;
    @include coordinates(9%, 47%);

  }

  .php_logo {
    @include coordinates(13%, 21%);
    width: calc($iconCircleSizePC / 4.3)!important;
    height: calc($iconCircleSizePC / 4.3)!important;
  }

  .header_text span {
    color: $bgColor;
    background: $mainThemeColor;
    padding: 0 .5vw;
    transition: background 0.5s, color .5s;
  }

  .header_text span:hover {
    color: $mainThemeColor;
    background: black;
    cursor: pointer;
  }

  .skill_list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: getTrueVH(5) 0;
    box-sizing: border-box;
  }

  .header_text {
    margin: $textMarginTopPC $marginLeftRight 0 $marginLeftRight;
    font-size: $textFontSizePC;
    z-index: 3;
    position: relative;
  }

/*  @media (min-width: 900px) {
    .header_text {
      font-size: 16px;
    }
  }*/

  @media all and (orientation: portrait) {

    .skill_list {
      padding: 0;
      justify-content: space-around;
    }

    .header_text {
      font-size: $textFontSize;
      margin-top: $textMarginTop;
      margin-bottom: $textMarginTop;
    }

    .skill_list__container {
      height: getTrueVH(80);
    }

    .logo_container__body {
      position: absolute;
      width: 100vw;
      left: 0;
      right: auto;
      display: flex;
      justify-content: center;
      z-index: 1;
      opacity: .1;
    }

    .logo_container__body {
      bottom: calc($iconCircleSize / 10);
    }

    .logo_container {
      width: $iconCircleSize;
      height: $iconCircleSize;
    }

    .logo_container img {
      width: calc($iconCircleSize / 6);
      height: calc($iconCircleSize / 6);
    }

    .logo_container__body {
      bottom: calc($iconCircleSize / 10);
    }

    .logo_container {
      width: $iconCircleSize;
      height: $iconCircleSize;
    }

    .logo_container img {
      width: calc($iconCircleSize / 6);
      height: calc($iconCircleSize / 6);
    }

    .sass_logo {
      width: calc($iconCircleSize / 3)!important;
    }
    .react_logo {
      width: calc($iconCircleSize / 5)!important;
    }

    .js_logo {
      width: calc($iconCircleSize / 6.5)!important;
    }

    .php_logo {
      width: calc($iconCircleSize / 4.3)!important;
      height: calc($iconCircleSize / 4.3)!important;
    }
  }
}