$skillHeight: 5vw;
$skillWidth: 50vw;

.skill_container {
  background: url("../../assets/img/arrow_left.png") calc($skillHeight / -6.7) 0 no-repeat, url("../../assets/img/arrow_right.png") 100% 0 no-repeat;
  width: $skillWidth;
  height: $skillHeight;
  background-size: $skillHeight;

  box-sizing: border-box;
  padding: 0 $skillHeight 0 calc($skillHeight / 1.5);
  display: flex;
  flex-direction: column;

  margin-left: 5vw;
  margin-top: 3vw;
}

.skill_title {
  font-weight: bold;
  font-size: 2.5vw;
  margin-top: -1.5vw;
}

.skill_text {
  font-size: 1.5vw;
  margin-top: -.5vw;
}