$mainThemeColor: darkgreen;
$bgColor: black;


.ThirdScreen {

  // overflow hidden везде
  overflow: hidden;
  background: $bgColor;
  height: 100vh;
  width: 100vw;
  position: relative;
  font-family: Undertale, serif;
  display: flex;
  justify-content: center;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    width: 100vw;
  }

  %matrixTemplate {
    box-shadow: 0px 0px 50px 0px $mainThemeColor;
    border: 1px $mainThemeColor solid;
    border-radius: 10px;
    color: $mainThemeColor;
    background: black;
    position: relative;
  }

  .table {
    width: 50vh;
    height: 60vh;

    position: relative;

    box-sizing: border-box;
    padding: 2vh;

    font-size: 3vh;


    @extend %matrixTemplate;
  }

  .rowContent {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
    width: 150vh;
  }

  .buttonColumn {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .button {
    @extend %matrixTemplate;
    box-shadow: 0px 0px 10px 0px $mainThemeColor;
    width: 50vh;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px $mainThemeColor solid;
    box-sizing: border-box;

    .button__title {
      width: 70%;
      height: 101%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px green solid;
    }

    .button__role {
      font-size: 2vh;
      text-align: center;
      padding: 2vh;
      width: 30%;
    }
  }

  .button:hover {
    background: $mainThemeColor;
    color: $bgColor;
    border: 1px black solid;

    .button__title {
      border-right: 1px black solid;
    }
  }

  @media all and (orientation: portrait) {

    .rowContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      justify-content: space-around;
      width: 150vh;
    }

    .table {
      margin-top: 2vw;
      width: 80vw;
      height: 50vh;
      padding: 2vw;
      font-size: calc(3.2vw + 2vh);
    }

    .buttonColumn {
      height: 50vh;
    }

    .button {
      width: 80vw;
      height: 8vh;

      .button__title {
        font-size: 3vh;
      }

      .button__role {
        font-size: 2vh;
      }
    }
  }

}