@import "../BodyPage/BodyPage";

$mainThemeColor: darkgreen;
$bgColor: black;
$borderWidth: getTrueVH(.5);


.ThirdScreen {

  // overflow hidden везде
  overflow: hidden;
  background: $bgColor;
  height: getTrueVH(100);
  width: 100vw;
  position: relative;
  font-family: Undertale, serif;
  display: flex;
  justify-content: center;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    width: 100vw;
  }

  %matrixTemplate {
    box-shadow: 0px 0px 50px 0px $mainThemeColor;
    border: $borderWidth $mainThemeColor solid;
    border-radius: 10px;
    color: $mainThemeColor;
    background: $bgColor;
    position: relative;
  }

  .table {
    width: getTrueVH(50);
    height: getTrueVH(60);

    position: relative;

    box-sizing: border-box;
    padding: getTrueVH(2);

    font-size: getTrueVH(3);


    @extend %matrixTemplate;
  }

  .rowContent {
    display: flex;
    align-items: center;
    height: getTrueVH(100);
    justify-content: space-around;
    width: getTrueVH(150);
  }

  .buttonColumn {
    height: getTrueVH(60);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .button {
    @extend %matrixTemplate;
    box-shadow: 0px 0px 10px 0px $mainThemeColor;
    width: getTrueVH(50);
    height: getTrueVH(10);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: $borderWidth $mainThemeColor solid;
    box-sizing: border-box;

    .button__title {
      width: 70%;
      height: 101%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: $borderWidth $mainThemeColor solid;
      font-size: getTrueVH(4);
    }

    .button__role {
      font-size: getTrueVH(2);
      text-align: center;
      padding: getTrueVH(2);
      width: 30%;
    }
  }

  .button:hover {
    background: $mainThemeColor;
    color: $bgColor;
    border: $borderWidth $bgColor solid;

    .button__title {
      border-right: $borderWidth $bgColor solid;
    }
  }

  @media all and (orientation: portrait) {

    .rowContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: getTrueVH(100);
      justify-content: space-around;
      width: getTrueVH(150);
    }

    .table {
      margin-top: 2vw;
      width: 80vw;
      height: getTrueVH(50);
      padding: 2vw;
      font-size: calc(3.2vw + getTrueVH(2));
    }

    .buttonColumn {
      height: getTrueVH(50);
    }

    .button {
      width: 80vw;
      height: getTrueVH(8);

      .button__title {
        font-size: getTrueVH(3);
      }

      .button__role {
        font-size: getTrueVH(2);
      }
    }
  }

}