@import "../../pages/AboutScreen/AboutScreen";
@import "../../pages/BodyPage/BodyPage";

.mov_header {
  margin-left: $marginLeftRight;
  font-size: $movingTitleFontSizePC;
  font-weight: bold;
  z-index: 1;
}

.mov_header span {
  position: relative;
  transition: top 0.1s, color .5s;
  cursor: pointer;
}

.mov_header span:hover {
  color: black!important;
}

@media all and (orientation: portrait) {

  .mov_header {
    font-size: $movingTitleFontSize;
    line-height: calc($movingTitleFontSize + getTrueVH(1));
  }

  .mov_header span {
    transition: top 0.1s, color 1s;
  }
}