@import "../BodyPage/BodyPage";

$bgColor: #cb8b16;
$bgColorStats: rgb(248, 167, 5);
$bgColorBlocks: rgb(255, 136, 0);
$blackColor: black;
$mainColor: white;

$redColor: #c20909;
$greenColor: #057505;

$paddingBody: 2.5vw;

$buttonSize: 3vw;
$buttonSizeWide: getTrueVH(4.5);

$borderWidth: .6vh;

%FloatContainerStyle {
  background: transparent;
  border-radius: 10px;
  border: $borderWidth $mainColor solid;
  box-sizing: border-box;
  font-family: KTFJermilovSolid;
  color: $mainColor;
}

%FloatContainerStyle .float_container__block_title {
  border-bottom: $borderWidth $mainColor solid;
  font-weight: bold;
  padding-left: 5%;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: left;
}

%FloatContainerStyle .float_container__block_desc {
  padding: 5%;
};

.stats__screen {
  display: flex;
  flex-direction: column;
  background: $bgColor;
  height: getTrueVH(100);
  width: 100vw;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  font-family: KTFJermilovSolid;
}

.stats__container {
  border: $borderWidth $mainColor solid;
  border-radius: 3px;
  box-sizing: border-box;
  width: 95vw;
  height: 55vw;
  display: flex;
  background: $bgColorStats;
  box-shadow: 2px 2px 20px $mainColor;
}

.hero__container {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero__ava {
  width: 12vw;
  height: 12vw;
  border: $borderWidth $mainColor solid;
  margin-top: 5vw;
}

.hero__nick {
  color: $mainColor;
  font-size: 3vw;
}

.hero__change_name {
  color: $mainColor;
  font-size: 2vw;

  margin-top: 1.5vw;
}

.battery {
  height: 2vw;
  width: 10vw;
  background: $blackColor;
  border: $borderWidth $mainColor solid;

  position: relative;
  z-index: 1;
  border-radius: 30px;
  overflow: hidden;
}

.battery__charge {
  background: $greenColor;
  width: 100%;
  height: 100%;
  position: relative;
  left: 100%;
  z-index: -1;
  border-radius: 30px 0 0 30px;
  transition: left .5s;
}

.button__activate {
  border-radius: 30px;
  background: $greenColor;
  color: $mainColor;
  width: $buttonSize * 4;
  height: $buttonSize;
  font-size: calc($buttonSize / 2);
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.button__deactivated {
  background: $redColor;
}

.hero__desc {
  color: $mainColor;
  font-size: 1vw;
  text-align: left;
  padding: 0 1vw;
}

.secret__desc {
  color: $blackColor;
  font-size: 1.5vw;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

.stats_container__wide {
  width: getTrueVH(164);
  height: getTrueVH(95);

  .hero__ava {
    width: getTrueVH(20);
    height: getTrueVH(20);
    margin-top: getTrueVH(5);
  }

  .hero__nick {
    color: $mainColor;
    font-size: getTrueVH(5);
  }

  .hero__desc {
    font-size: getTrueVH(2);
    padding: 0 getTrueVH(1);
  }

  .hero__change_name {
    font-size: getTrueVH(2.5);
    margin-top: getTrueVH(2);
  }

  .battery {
    height: getTrueVH(3);
    width: getTrueVH(13);
  }

  .button__activate {
    width: calc($buttonSizeWide * 4);
    height: $buttonSizeWide;
    font-size: calc($buttonSizeWide / 2);
    margin-top: getTrueVH(2);
  }

  .secret__desc {
    font-size: getTrueVH(2.5);
  }
}

.stats_container__mobile {
  width: 100vw;
  height: getTrueVH(100);
  flex-direction: column;
  align-items: center;
  position: relative;

  .hero__container {
    height: getTrueVH(45);
  }

  .hero__ava {
    width: getTrueVH(20);
    height: getTrueVH(20);
    margin-top: getTrueVH(5);
    border: $borderWidth $mainColor solid;
  }

  .hero__nick {
    font-size: getTrueVH(5);
  }

  .hero__desc {
    font-size: getTrueVH(2);
    text-align: center;
    width: 80vw;
    padding: 0;
  }

  .gallery_container {
    height: getTrueVH(55);
    width: 100vw;
  }

  .gallery_container::-webkit-scrollbar {
    width: 0;
  }

  .gallery_counter {
    font-size: getTrueVH(3);
    color: $mainColor;
  }

  .gallery_item {
    @extend %FloatContainerStyle;
    height: 80%;
    border: $borderWidth $mainColor solid;
  }

  .gallery_item .float_container__block_title {
    font-size: 7vw;
    border-bottom: $borderWidth $mainColor solid;
  }

  .gallery_item .float_container__block_desc {
    width: 60vw!important;
    font-size: 4.5vw;
    padding: 1vw 5vw 1vw 2vw;
    box-sizing: border-box;
  }
}