@import "../BodyPage/BodyPage";

$refColor: darkblue;
$bgColor: rgba(2, 2, 238, 0.2);
$windowBorderAndFontColor: black;
$windowBgColor: white;

$borderWidth: getTrueVH(.7);

.FinalScreen {
  background: white;
  height: getTrueVH(100);
  width: 100vw;
  font-family: Undertale;
  position: relative;


  @mixin absoluteBody($width, $height, $left, $bottom, $zIndex) {
    position: absolute;
    width: $width;
    height: $height;
    left: $left;
    bottom: $bottom;
    z-index: $zIndex;
  }

  @mixin adaptiveBg($background, $backgroundSize, $backgroundColor: rgba(0,0,0,0), $noRepeat: false) {
    background: $background, $backgroundColor;
    background-size: $backgroundSize;

    @if ($noRepeat) {
      background: $background no-repeat, $backgroundColor;
      background-size: $backgroundSize;
    }
  }

  @mixin icon($bg) {
    @include adaptiveBg($bg, getTrueVH(6), rgba(0,0,0,0), true);

    width: getTrueVH(6);
    height: getTrueVH(6);
    cursor: pointer;
  }
  @mixin icon_mob($bg) {
    @include adaptiveBg($bg, 10vw, rgba(0,0,0,0), true);

    width: 10vw;
    height: 10vw;
  }

  %final_container {
    background: $windowBgColor;
    border: $borderWidth $windowBorderAndFontColor solid;
    color: $windowBorderAndFontColor;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }


  .borderTop {
    @include adaptiveBg(url("../../assets/img/paint/border_top.png"), getTrueVH(9.5), $bgColor);
    @include absoluteBody(100vw, getTrueVH(5), 0, getTrueVH(95), 20);
  }

  .borderLeft {
    @include adaptiveBg(url("../../assets/img/paint/border_left.png"), getTrueVH(5), $bgColor);
    @include absoluteBody(getTrueVH(5), getTrueVH(90), 0, getTrueVH(5), 20);
  }

  .borderRight {
    @include adaptiveBg(url("../../assets/img/paint/border_right.png"), getTrueVH(5), $bgColor);
    @include absoluteBody(getTrueVH(5), getTrueVH(90), calc(100vw - getTrueVH(5)), getTrueVH(5), 20);
  }

  .borderBottom {
    @include adaptiveBg(url("../../assets/img/paint/border_bottom.png"), getTrueVH(9.5), $bgColor);
    @include absoluteBody(100vw, getTrueVH(5), 0, 0, 20);
  }

  .FinalScreen__content {
    position: relative;
    overflow: hidden;
    width: calc(100vw - getTrueVH(10));
    height: getTrueVH(90);
    left: getTrueVH(5);
    bottom: getTrueVH(-5);
  }

  .grass {

    @include adaptiveBg(url("../../assets/img/paint/grass_v2.png"), getTrueVH(70));
    @include absoluteBody(calc(100vw - getTrueVH(10)), getTrueVH(22), 0, 0, 15);
  }

  .sky {
    @include adaptiveBg(url("../../assets/img/paint/sky.png"), getTrueVH(94));
    @include absoluteBody(calc(100vw - getTrueVH(10)), getTrueVH(70), 0, getTrueVH(20), 11);
  }

  .home {
    @include adaptiveBg(url("../../assets/img/paint/castle.png"), getTrueVH(30));
    @include absoluteBody(getTrueVH(30), getTrueVH(40), calc(100% - getTrueVH(40)), getTrueVH(15), 16);
    left: auto;
    right: getTrueVH(2.5);
  }

  .sun {
    @include absoluteBody(getTrueVH(30), getTrueVH(26), calc(100% - getTrueVH(15)), getTrueVH(73), 11);
  }

  .meteor {
    @include absoluteBody(getTrueVH(10), getTrueVH(10), 10vw, getTrueVH(82), 12);
  }

  .sword {
    @include absoluteBody(getTrueVH(15), getTrueVH(18.75), getTrueVH(2.5), getTrueVH(19), 13);
  }

  .wind {
    @include absoluteBody(getTrueVH(20), getTrueVH(10), getTrueVH(2.5), getTrueVH(33), 12);
  }

  .tree {
    @include absoluteBody(getTrueVH(30), getTrueVH(41.7), calc(45% - getTrueVH(30)), getTrueVH(15), 16);
  }
  .tree2 {
    @include absoluteBody(getTrueVH(30), getTrueVH(48.9), calc(68% - getTrueVH(30)), getTrueVH(13), 16);
  }

  .icon_container {

    @include absoluteBody(getTrueVH(30), getTrueVH(25), calc(100% - getTrueVH(60)), getTrueVH(1), 17);
    @extend %final_container;

    font-size: getTrueVH(4);
    left: auto;
    right: getTrueVH(35);
    box-sizing: border-box;
  }

  .kate_container {

    @include absoluteBody(getTrueVH(20), getTrueVH(10), getTrueVH(1), getTrueVH(1), 17);
    @extend %final_container;

    font-size: getTrueVH(2);
    box-sizing: border-box;
  }

  .text_container {

    @include absoluteBody(getTrueVH(35), getTrueVH(35), getTrueVH(1), getTrueVH(63), 17);
    @extend %final_container;

    font-size: getTrueVH(1.8);
    padding: getTrueVH(2);
    box-sizing: border-box;
    bottom: auto;
    top: getTrueVH(3);
  }

  .rating_container {

    @include absoluteBody(getTrueVH(28), getTrueVH(28), getTrueVH(40), getTrueVH(50), 17);
    @extend %final_container;

    font-size: getTrueVH(1.5);
    padding: getTrueVH(1);
    bottom: auto;
    top: getTrueVH(3);
    box-sizing: border-box;
  }

  .rating {
    cursor: pointer;
    font-size: getTrueVH(5);
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important;;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  .kate_container a {

    color: $refColor;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }

  .text_left {
    text-align: left;
  }

  .inst_icon {
    @include icon(url("../../assets/img/paint/inst.png"));
  }
  .vk_icon {
    @include icon(url("../../assets/img/paint/vk.png"));
  }
  .tg_icon {
    @include icon(url("../../assets/img/paint/tg.png"));
  }
  .gh_icon {
    @include icon(url("../../assets/img/paint/github.png"));
  }
  .gl_icon {
    @include icon(url("../../assets/img/paint/gitlab.png"));
  }
  .gm_icon {
    @include icon(url("../../assets/img/paint/gmail.png"));
  }

  .row {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-top: 5%;
  }

  .meteor__anim1 {
    animation: 10s meteor1 infinite ease-in-out;

  }
  .meteor__anim2 {
    animation: 10s meteor2 infinite ease-in-out;

  }
  .meteor__anim3 {
    animation: 10s meteor3 infinite ease-in-out;
  }

  @keyframes meteor1 {
    0% {
      bottom: getTrueVH(117);
      left: 3vw;
    }
    100% {
      bottom: getTrueVH(6);
      left: 64vw;
    }
  }
  @keyframes meteor2 {
    0% {
      bottom: getTrueVH(100);
      left: 11vw;
    }
    100% {
      bottom: getTrueVH(-11);
      left: 72vw;
    }
  }
  @keyframes meteor3 {
    0% {
      bottom: getTrueVH(117);
      left: 16vw;
    }
    100% {
      bottom: getTrueVH(6);
      left: 77vw;
    }
  }

  @media all and (orientation: portrait) {

    .borderTop {
      @include adaptiveBg(url("../../assets/img/paint/border_top.png"), getTrueVH(4), rgba(0,0,255,.2));
      @include absoluteBody(100vw, getTrueVH(2), 0, getTrueVH(98), 20);
    }

    .borderLeft {
      @include adaptiveBg(url("../../assets/img/paint/border_left.png"), 1.9vw, rgba(0,0,255,.2));
      @include absoluteBody(2vw, getTrueVH(96), 0, getTrueVH(2), 20);
    }

    .borderRight {
      @include adaptiveBg(url("../../assets/img/paint/border_right.png"), 3.5vw, rgba(0,0,255,.2));
      @include absoluteBody(2vw, getTrueVH(96), calc(100vw - 2vw), getTrueVH(2), 20);
    }

    .borderBottom {
      @include adaptiveBg(url("../../assets/img/paint/border_bottom.png"), getTrueVH(3.5), rgba(0,0,255,.2));
      @include absoluteBody(100vw, getTrueVH(2), 0, 0, 20);
    }

    .FinalScreen__content {
      width: 96vw;
      height: getTrueVH(96);
      left: 2vw;
      bottom: getTrueVH(-2);
    }

    .grass {

      @include adaptiveBg(url("../../assets/img/paint/grass_v2.png"), getTrueVH(70));
      @include absoluteBody(96vw, getTrueVH(20), 0, 0, 15);
    }

    .sky {
      @include adaptiveBg(url("../../assets/img/paint/sky.png"), getTrueVH(110));
      @include absoluteBody(96vw, getTrueVH(80), 0, getTrueVH(16), 11);
    }

    .sun {
      @include absoluteBody(getTrueVH(30), getTrueVH(26), calc(100% - getTrueVH(15)), getTrueVH(82), 11);
    }

    .home {
      @include adaptiveBg(url("../../assets/img/paint/castle.png"), 30vw);
      @include absoluteBody(30vw, 40vw, 120vw, getTrueVH(15), 16);
      left: auto;
      right: 1vw;
    }

    .tree {
      @include absoluteBody(20vw, 27.8vw, 30vw, getTrueVH(15), 16);
    }
    .tree2 {
      @include absoluteBody(20vw, 32.6vw, 44vw, getTrueVH(12), 16);
    }

    .sword {
      @include absoluteBody(15vw, 18.75vw, 8vw, getTrueVH(18), 13);
    }

    .wind {
      @include absoluteBody(20vw, 10vw, 7vw, getTrueVH(25), 12);
    }

    .meteor {
      @include absoluteBody(20vw, 20vw, 10vw, getTrueVH(82), 12);
    }

    .meteor__anim1 {
      animation: 10s meteor1_mob infinite ease-in-out;

    }
    .meteor__anim2 {
      animation: 10s meteor2_mob infinite ease-in-out;

    }
    .meteor__anim3 {
      animation: 10s meteor3_mob infinite ease-in-out;
    }

    @keyframes meteor1_mob {
      0% {
        bottom: getTrueVH(117);
        left: -27vw;
      }
      100% {
        bottom: getTrueVH(6);
        left: 104vw;
      }
    }
    @keyframes meteor2_mob {
      0% {
        bottom: getTrueVH(100);
        left: -9vw;
      }
      100% {
        bottom: getTrueVH(-11);
        left: 122vw;
      }
    }
    @keyframes meteor3_mob {
      0% {
        bottom: getTrueVH(117);
        left: -4vw;
      }
      100% {
        bottom: getTrueVH(6);
        left: 127vw;
      }
    }

    .icon_container {

      @include absoluteBody(80vw, 23vw, calc(100% - getTrueVH(60)), getTrueVH(1), 17);
      @extend %final_container;

      font-size: 4vw;
      left: auto;
      right: 1vw;
      box-sizing: border-box;
    }

    .row {
      width: 90%;
    }

    .inst_icon {
      @include icon_mob(url("../../assets/img/paint/inst.png"));
    }
    .vk_icon {
      @include icon_mob(url("../../assets/img/paint/vk.png"));
    }
    .tg_icon {
      @include icon_mob(url("../../assets/img/paint/tg.png"));
    }
    .gh_icon {
      @include icon_mob(url("../../assets/img/paint/github.png"));
    }
    .gl_icon {
      @include icon_mob(url("../../assets/img/paint/gitlab.png"));
    }
    .gm_icon {
      @include icon_mob(url("../../assets/img/paint/gmail.png"));
    }

    .kate_container {

      @include absoluteBody(40vw, 14vw, 1vw, getTrueVH(35), 17);
      @extend %final_container;

      font-size: 4vw;
      box-sizing: border-box;
    }

    .text_container {

      @include absoluteBody(50vw, 50vw, 1vw, getTrueVH(63), 17);
      @extend %final_container;

      font-size: 3vw;
      padding: 2vw;
      box-sizing: border-box;
      bottom: auto;
      top: getTrueVH(1);
    }

    .rating_container {

      @include absoluteBody(40vw, 40vw, getTrueVH(40), getTrueVH(50), 17);
      @extend %final_container;

      font-size: 2.4vw;
      padding: 1vw;
      bottom: auto;
      left: auto;
      top: getTrueVH(3);
      right: 1vw;
      box-sizing: border-box;
    }

    .rating {
      font-size: 7vw;
    }
  }
}