.FinalScreen {
  background: white;
  height: 100vh;
  width: 100vw;
  font-family: Undertale;
  position: relative;


  @mixin absoluteBody($width, $height, $left, $bottom, $zIndex) {
    position: absolute;
    width: $width;
    height: $height;
    left: $left;
    bottom: $bottom;
    z-index: $zIndex;
  }

  @mixin adaptiveBg($background, $backgroundSize, $backgroundColor: rgba(0,0,0,0), $noRepeat: false) {
    background: $background, $backgroundColor;
    background-size: $backgroundSize;

    @if ($noRepeat) {
      background: $background no-repeat, $backgroundColor;
      background-size: $backgroundSize;
    }
  }

  @mixin icon($bg) {
    @include adaptiveBg($bg, 6vh, rgba(0,0,0,0), true);

    width: 6vh;
    height: 6vh;
  }
  @mixin icon_mob($bg) {
    @include adaptiveBg($bg, 10vw, rgba(0,0,0,0), true);

    width: 10vw;
    height: 10vw;
  }

  %final_container {
    background: white;
    border: 3px black solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }


  .borderTop {
    @include adaptiveBg(url("../../assets/img/paint/border_top.png"), 9.5vh, rgba(0,0,255,.2));
    @include absoluteBody(100vw, 5vh, 0, 95vh, 20);
  }

  .borderLeft {
    @include adaptiveBg(url("../../assets/img/paint/border_left.png"), 5vh, rgba(0,0,255,.2));
    @include absoluteBody(5vh, 90vh, 0, 5vh, 20);
  }

  .borderRight {
    @include adaptiveBg(url("../../assets/img/paint/border_right.png"), 5vh, rgba(0,0,255,.2));
    @include absoluteBody(5vh, 90vh, calc(100vw - 5vh), 5vh, 20);
  }

  .borderBottom {
    @include adaptiveBg(url("../../assets/img/paint/border_bottom.png"), 9.5vh, rgba(0,0,255,.2));
    @include absoluteBody(100vw, 5vh, 0, 0, 20);
  }

  .FinalScreen__content {
    position: relative;
    overflow: hidden;
    width: calc(100vw - 10vh);
    height: 90vh;
    left: 5vh;
    bottom: -5vh;
  }

  .grass {

    @include adaptiveBg(url("../../assets/img/paint/grass_v2.png"), 70vh);
    @include absoluteBody(calc(100vw - 10vh), 22vh, 0, 0, 15);
  }

  .sky {
    @include adaptiveBg(url("../../assets/img/paint/sky.png"), 94vh);
    @include absoluteBody(calc(100vw - 10vh), 70vh, 0, 20vh, 11);
  }

  .home {
    @include adaptiveBg(url("../../assets/img/paint/castle.png"), 30vh);
    @include absoluteBody(30vh, 40vh, calc(100% - 40vh), 15vh, 16);
    left: auto;
    right: 2.5vh;
  }

  .sun {
    @include absoluteBody(30vh, 26vh, calc(100% - 15vh), 73vh, 11);
  }

  .meteor {
    @include absoluteBody(10vh, 10vh, 10vw, 82vh, 12);
  }

  .sword {
    @include absoluteBody(15vh, 18.75vh, 2.5vh, 19vh, 13);
  }

  .wind {
    @include absoluteBody(20vh, 10vh, 2.5vh, 33vh, 12);
  }

  .tree {
    @include absoluteBody(30vh, 41.7vh, calc(45% - 30vh), 15vh, 16);
  }
  .tree2 {
    @include absoluteBody(30vh, 48.9vh, calc(68% - 30vh), 13vh, 16);
  }

  .icon_container {

    @include absoluteBody(30vh, 25vh, calc(100% - 60vh), 1vh, 17);
    @extend %final_container;

    font-size: 4vh;
    left: auto;
    right: 35vh;
    box-sizing: border-box;
  }

  .kate_container {

    @include absoluteBody(20vh, 10vh, 1vh, 1vh, 17);
    @extend %final_container;

    font-size: 2vh;
    box-sizing: border-box;
  }

  .text_container {

    @include absoluteBody(35vh, 35vh, 1vh, 63vh, 17);
    @extend %final_container;

    font-size: 1.8vh;
    padding: 2vh;
    box-sizing: border-box;
    bottom: auto;
    top: 3vh;
  }

  .rating_container {

    @include absoluteBody(28vh, 28vh, 40vh, 50vh, 17);
    @extend %final_container;

    font-size: 1.5vh;
    padding: 1vh;
    bottom: auto;
    top: 3vh;
    box-sizing: border-box;
  }

  .rating {
    cursor: pointer;
    font-size: 5vh;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important;;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  .text_left {
    text-align: left;
  }

  .inst_icon {
    @include icon(url("../../assets/img/paint/inst.png"));
  }
  .vk_icon {
    @include icon(url("../../assets/img/paint/vk.png"));
  }
  .tg_icon {
    @include icon(url("../../assets/img/paint/tg.png"));
  }
  .gh_icon {
    @include icon(url("../../assets/img/paint/github.png"));
  }
  .gl_icon {
    @include icon(url("../../assets/img/paint/gitlab.png"));
  }
  .gm_icon {
    @include icon(url("../../assets/img/paint/gmail.png"));
  }

  .row {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-top: 5%;
  }

  .meteor__anim1 {
    animation: 10s meteor1 infinite ease-in-out;

  }
  .meteor__anim2 {
    animation: 10s meteor2 infinite ease-in-out;

  }
  .meteor__anim3 {
    animation: 10s meteor3 infinite ease-in-out;
  }

  @keyframes meteor1 {
    0% {
      bottom: 117vh;
      left: 3vw;
    }
    100% {
      bottom: 6vh;
      left: 64vw;
    }
  }
  @keyframes meteor2 {
    0% {
      bottom: 100vh;
      left: 11vw;
    }
    100% {
      bottom: -11vh;
      left: 72vw;
    }
  }
  @keyframes meteor3 {
    0% {
      bottom: 117vh;
      left: 16vw;
    }
    100% {
      bottom: 6vh;
      left: 77vw;
    }
  }

  @media all and (orientation: portrait) {

    .borderTop {
      @include adaptiveBg(url("../../assets/img/paint/border_top.png"), 4vh, rgba(0,0,255,.2));
      @include absoluteBody(100vw, 2vh, 0, 98vh, 20);
    }

    .borderLeft {
      @include adaptiveBg(url("../../assets/img/paint/border_left.png"), 1.9vw, rgba(0,0,255,.2));
      @include absoluteBody(2vw, 96vh, 0, 2vh, 20);
    }

    .borderRight {
      @include adaptiveBg(url("../../assets/img/paint/border_right.png"), 3.5vw, rgba(0,0,255,.2));
      @include absoluteBody(2vw, 96vh, calc(100vw - 2vw), 2vh, 20);
    }

    .borderBottom {
      @include adaptiveBg(url("../../assets/img/paint/border_bottom.png"), 3.5vh, rgba(0,0,255,.2));
      @include absoluteBody(100vw, 2vh, 0, 0, 20);
    }

    .FinalScreen__content {
      width: 96vw;
      height: 96vh;
      left: 2vw;
      bottom: -2vh;
    }

    .grass {

      @include adaptiveBg(url("../../assets/img/paint/grass_v2.png"), 70vh);
      @include absoluteBody(96vw, 20vh, 0, 0, 15);
    }

    .sky {
      @include adaptiveBg(url("../../assets/img/paint/sky.png"), 110vh);
      @include absoluteBody(96vw, 80vh, 0, 16vh, 11);
    }

    .sun {
      @include absoluteBody(30vh, 26vh, calc(100% - 15vh), 82vh, 11);
    }

    .home {
      @include adaptiveBg(url("../../assets/img/paint/castle.png"), 45vw);
      @include absoluteBody(45vw, 60vw, 120vw, 13vh, 16);
      left: auto;
      right: -20vw;
    }

    .tree {
      @include absoluteBody(30vw, 41.7vw, 27vw, 10vh, 16);
    }
    .tree2 {
      @include absoluteBody(30vw, 48.9vw, 50vw, 5vh, 16);
    }

    .sword {
      @include absoluteBody(15vw, 18.75vw, 8vw, 18vh, 13);
    }

    .wind {
      @include absoluteBody(20vw, 10vw, 7vw, 25vh, 12);
    }

    .meteor {
      @include absoluteBody(20vw, 20vw, 10vw, 82vh, 12);
    }

    .meteor__anim1 {
      animation: 10s meteor1_mob infinite ease-in-out;

    }
    .meteor__anim2 {
      animation: 10s meteor2_mob infinite ease-in-out;

    }
    .meteor__anim3 {
      animation: 10s meteor3_mob infinite ease-in-out;
    }

    @keyframes meteor1_mob {
      0% {
        bottom: 117vh;
        left: -27vw;
      }
      100% {
        bottom: 6vh;
        left: 104vw;
      }
    }
    @keyframes meteor2_mob {
      0% {
        bottom: 100vh;
        left: -9vw;
      }
      100% {
        bottom: -11vh;
        left: 122vw;
      }
    }
    @keyframes meteor3_mob {
      0% {
        bottom: 117vh;
        left: -4vw;
      }
      100% {
        bottom: 6vh;
        left: 127vw;
      }
    }

    .icon_container {

      @include absoluteBody(80vw, 23vw, calc(100% - 60vh), 1vh, 17);
      @extend %final_container;

      font-size: 4vw;
      left: auto;
      right: 1vw;
      box-sizing: border-box;
    }

    .row {
      width: 90%;
    }

    .inst_icon {
      @include icon_mob(url("../../assets/img/paint/inst.png"));
    }
    .vk_icon {
      @include icon_mob(url("../../assets/img/paint/vk.png"));
    }
    .tg_icon {
      @include icon_mob(url("../../assets/img/paint/tg.png"));
    }
    .gh_icon {
      @include icon_mob(url("../../assets/img/paint/github.png"));
    }
    .gl_icon {
      @include icon_mob(url("../../assets/img/paint/gitlab.png"));
    }
    .gm_icon {
      @include icon_mob(url("../../assets/img/paint/gmail.png"));
    }

    .kate_container {

      @include absoluteBody(40vw, 14vw, 1vw, 35vh, 17);
      @extend %final_container;

      font-size: 4vw;
      box-sizing: border-box;
    }

    .text_container {

      @include absoluteBody(50vw, 50vw, 1vh, 63vh, 17);
      @extend %final_container;

      font-size: 3vw;
      padding: 2vw;
      box-sizing: border-box;
      bottom: auto;
      top: 1vh;
    }
  }
}